body {
    background-color: black;
}

#header img{
    border-radius: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 200px;
    height: 100px;
}


#column1 img {
    padding: 40px;
    border-style: double;
    border-color: pink; 
    border-width: 3px;
    margin-left: 25%;
    margin-top: 20px;
    padding-bottom: 400px;
    width: 25%;
}

#column1 {
    vertical-align: top;
    padding-left: 300px;
}

#column2 {
    border-style: double;
    border-color: pink; 
    border-width: 3px;
    margin-right: 200px;
    margin-top: 20px;
    padding-bottom: 400px;
    width: 25%;
    vertical-align: top;
}

#column2 p {
    font-family: Impact, Charcoal, sans-serif;
    color: magenta;
    font-size: 30px;
    padding: 40px;
}

table {
    width: 100%;
}