body {
    background-color: black;
}

#header img{
    border-radius: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 200px;
    height: 100px;
}


#column1 img {
    padding: 20px !important; 
    border-style: double !important; 
    border-color: pink !important; 
}